@page "/Categorias"

<h3>Registro Categoria</h3>

<EditForm Model="Categoria" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />


    <div class="form-group">
        <label for="IdInput">CategoriaId</label>
        <InputNumber Id="IdInput" @bind-Value="Categoria.CategoriaId" class="form-inline"></InputNumber>
        <button type="button" class="btn btn-outline-info" @onclick="Buscar">Buscar</button>
    </div>

    <div class="form-group">
        <label for="NombresInput">Nombres</label>
        <InputText Id="DescripcionInput" @bind-Value="Categoria.Nombre" class="form-inline"></InputText>
    </div>

    <div class="input-field col s6">
        <button type="button" class="btn btn-outline-primary" @onclick="Limpiar">Limpiar</button>
        <button type="submit" class="btn btn-outline-success">Guardar</button>
        <button type="button" class="btn btn-outline-danger" @onclick="Eliminar">Eliminar</button>
    </div>

    <h5 class="text-success">@mensaje</h5>

</EditForm>


@code {
    protected override void OnInitialized()
    {
        Categoria = new CategoriaProductos();
    }

    public CategoriaProductos Categoria { get; set; }
    public string mensaje;


    CategoriaProductoController controller = new CategoriaProductoController();

    public void Guardar()
    {
        if (controller.Guardar(Categoria))
        {
            Limpiar();
            mensaje = "Categoria Guardada con Exito!!!";
        }
        else
        {
            Limpiar();
            mensaje = "Error al guardar Categoria";
        }
    }

    public void Buscar()
    {
        var categoria = controller.Buscar(Categoria.CategoriaId);

        if (categoria != null)
        {
            Categoria = categoria;
        }
        else
        {
            Limpiar();
            mensaje = "Categoria no Existe";
        }
    }

    public void Eliminar()
    {
        var categoria = controller.Buscar(Categoria.CategoriaId);

        if (categoria != null)
        {
            controller.Eliminar(Categoria.CategoriaId);
            Limpiar();
            mensaje = "Categoria Eliminada";
        }
        else
        {
            Limpiar();
            mensaje = "Error al eliminar";
        }
    }

    public void Limpiar()
    {
        this.Categoria = new CategoriaProductos();
        mensaje = "";
    }
}